.history-reset{
    background-color: salmon;
   position: absolute;
   right: 100px;
   height: 40px;
   border-radius: 5px;
   border: none;
   width: 100px;
   font-size: 20px;
   cursor: pointer;
   margin: 20px;
}

.history-reset:hover{
    filter: brightness(0.9);
    cursor: pointer;
}